<script src="https://unpkg.com/vue@3"></script>

<div id="app">

    <a>{{message}}</a><br>
    <button @click="count++">{{ count }}</button><br>
    <img v-if="counterReached" src="https://c.tenor.com/7ljQ4p5oUXgAAAAC/cherry-tongue.gif" /><br>

    <li v-for="item in items">
        {{item}}
    </li>

</div>

<script>

    Vue.createApp({
        data() {
            return {
                count: 0,
                message: 'Hello Guys! You can click this button while we create this website!',
                items: [{"Joker :) Mache nichts"},
                        {"Dein Gegenüber muss 5 Schlucke trinken"},
                        {"Trinke 5 Schlucke"},
                        {"Mach 5 Liegestütze, wenn du es schaffst, verteile 5 Schlucke, ansonsten trinke 3 Schlucke"},
                        {"Wasserfall"},
                        {"Ziehe den nächsten Stein mit geschlossenen Augen"},
                        {"Berühre den nächsten Stein nur mit einem Stift"},
                        {"Erzähle einen Witz. Fällt dir keiner ein, trinke 3 Schlucke"},
                        {"Rede ab nun für ein Runde mit sehr tiefer Stimme. Vergisst du es, trinke 5 Schlucke"},
                        {"Mache mit deinem Gegenüber ein Armdrücken. Der Verlierer trinkt 3 Schlucke"}]
            }
        },
        computed: {
            counterReached() {
                return this.count >= 100
            }
        }
    }).mount('#app')
</script>