* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-image: url("img/jungle.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.button {
    position: relative;
    width: 150px;
    height: 50px;
    top: 200px;
    left: 250px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 4);
}

.button:hover {
    border: 2px solid;
    border-color: rgb(98, 255, 0);
    color: white;
    background-color: #47520b;
}

/* 

    NEXT AND EXIT BUTTONS

*/

#next {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    cursor: pointer;
}

#next:hover {
    border: 2px solid;
    border-color: rgb(98, 255, 0);
    color: white;
    background-color: #47520b;
}

#exit {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 10%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    cursor: pointer;
}

#exit:hover {
    border: 2px solid;
    border-color: rgb(98, 255, 0);
    color: white;
    background-color: #47520b;
}

#check {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    cursor: pointer;
}

#check:hover {
    border: 2px solid;
    border-color: rgb(98, 255, 0);
    color: white;
    background-color: #47520b;
}

#ape {
    position: absolute;
    top: 550px;
    left: 650px;
}

.bubble {
    width: 500px;
    height: 80px;
    position: absolute;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    border-radius: 50px;
    top: 550px;
    left: 850px;
    box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 4);
    font-size: 20px;
}

.bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: rgb(57, 57, 57);
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
    box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 4);
}

#sentence {
    font-size: 25px;
    text-align: center;
}

#answer {
    height: 50px;
    width: 700px;
    position: absolute;
    font-size: 30px;
    top: 380px;
    left: 600px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 4);
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
}

#false {
    position: relative;
    text-align: center;
    font-size: 50px;
    top: 180px;
    color: rgb(245, 11, 11);
}

#right {
    position: relative;
    text-align: center;
    font-size: 50px;
    top: 180px;
    color: rgb(7, 70, 15);
}

#score {
    position: absolute;
    color: azure;
    font-size: 25px;
    top: -10px;
    left: 20px;

}

#count {
    position: absolute;
    color: azure;
    font-size: 25px;
    left: 100px;
    top: 16px;
}

#healthDiv {
    position: absolute;
    margin: 0rem;
    color: azure;
    font-size: 25px;
    top: 1rem;
    right: 1rem;
}

/* 

    DEAD MENU

*/

#deadMenu {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 50rem;
    height: 40rem;
    background-color: rgb(186, 174, 174);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 25px;
}

#lost {
    margin-top: 1rem;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}

#dead {
    position: absolute;
    margin-left: 5rem;
    margin-top: 2rem;
    width: 40rem;
    height: 12rem;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    border-radius: 50px;
    box-shadow: 0px 17px 10px -7px rgba(0, 0, 0, 4);
}

#deadScore {
    color: azure;
    margin-top: 1rem;
    margin-left: 4rem;
    font-size: 3rem;
    font-weight: bold;
}

#highScore {
    color: azure;
    margin-top: -1rem;
    margin-left: 4rem;
    font-size: 3rem;
    font-weight: bold;
}

#deadScoreN {
    color: azure;
    position: absolute;
    margin-top: -6.3rem;
    margin-left: 30rem;
    font-size: 3rem;
    font-weight: bold;
}

#highScoreN {
    color: azure;
    position: absolute;
    margin-top: -6.3rem;
    margin-left: 30rem;
    font-size: 3rem;
    font-weight: bold;
}

#playAgain {
    position: absolute;
    top: 77%;
    left: 58%;
    width: 15rem;
    height: 5rem;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    cursor: pointer;
}

#exitDead {
    margin: 0;
    position: absolute;
    top: 77%;
    left: 10%;
    width: 15rem;
    height: 5rem;
    font-size: 35px;
    font-weight: bold;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    background: rgb(57, 57, 57);
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    border: 2px solid;
    cursor: pointer;
}

#playAgain:hover {
    border: 2px solid;
    border-color: rgb(98, 255, 0);
    color: white;
    background-color: #47520b;
}

#exitDead:hover {
    border: 2px solid;
    border-color: rgb(98, 255, 0);
    color: white;
    background-color: #47520b;
}
